body {
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

hr {
    border: none;
    height: 1px;
    margin-top: -1px;
    /* Set the hr color */
    color:  #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
}

summary {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.text-thin {
  font-weight: 100;
}

.text-muted {
  color: #BCBBBB;
}

.title-super {
  font-size: 35px;
}

.tabs {
  font-size: 25px;
  color: #F8981C;
}

.ion-social-linkedin, .ion-social-github {
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
}

#xing {
  font-weight: bold;
  color: black;
  font-size: 40px;
  padding-top:15px;
  margin-left: 40px;
  margin-right: 40px
}

#my-photo {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 25px;
  margin-top: 15px;
}

#featured-work {
  margin-bottom: 20px;
}

#intro {
  font-size: 18px;
}

#cv {
  background-color: #BCBBBB;
  border-color: #BCBBBB;
  font-weight: bold;
}
